
<nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user">
    <div class="container">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Vagas</a>
        <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
    </div>
    </div>
</nav>


<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>
