<div class="p-4">
    <div class="container">
        <h1>Olá {{user?.name}}!</h1>
        <p>Você está logado</p>
        </div>
</div>



<div class="container">
    <h1>Vagas</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Empresa</th>
            <th style="width: 30%">Cargo</th>
            <th style="width: 30%">Salário</th>
            <th style="width: 10%">Acesso</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>EMPRESA X</td>
            <td>DEV. JR</td>
            <td>R$ 2200</td>
            <td style="white-space: nowrap">
                <a routerLink="#" class="btn btn-sm btn-primary me-1">VER</a>
            </td>
        </tr>
        <tr>
            <td>EMPRESA X</td>
            <td>DEV. JR</td>
            <td>R$ 2200</td>
            <td style="white-space: nowrap">
                <a routerLink="#" class="btn btn-sm btn-primary me-1">VER</a>
            </td>
        </tr>
        <tr>
            <td>EMPRESA X</td>
            <td>DEV. JR</td>
            <td>R$ 2200</td>
            <td style="white-space: nowrap">
                <a routerLink="#" class="btn btn-sm btn-primary me-1">VER</a>
            </td>
        </tr>
        <tr>
            <td>EMPRESA X</td>
            <td>DEV. JR</td>
            <td>R$ 2200</td>
            <td style="white-space: nowrap">
                <a routerLink="#" class="btn btn-sm btn-primary me-1">VER</a>
            </td>
        </tr>
        <tr>
            <td>EMPRESA X</td>
            <td>DEV. JR</td>
            <td>R$ 2200</td>
            <td style="white-space: nowrap">
                <a routerLink="#" class="btn btn-sm btn-primary me-1">VER</a>
            </td>
        </tr>
    </tbody>
</table>
</div>